<div class="chat chat-{{startOrEnd}}" id = "{{chatId}}" >
    <div class="chat-image avatar">
        <div class="w-10 rounded-full">
        <img
            alt="{{imgAlt}}"
            src="{{imgSrc}}" />
        </div>
    </div>
    
    <div class="chat-header">
        {{username}}
        <time class="text-xs opacity-50"> {{sendTime}} </time>
    </div>
    <div class="chat-bubble" id="{{chatId}}-text"> {{text}} </div>
    <div class="chat-footer opacity-50" id="{{chatId}}-status"></div>
</div>